$hl-color: #37f
/* $hl-color: #a2c */
/* $hl-color: #2c3 */
/* $hl-color: #d23 */
$outer-bg-color: #eee
$inner-bg-color: #fff
$outer-shadow: #bbb 0 0 10px

$hdr-color: #111
$hdr-size: 150%
$hdr-line: 1px solid #eee

$nav-active-bg-color: $hl-color
$nav-bg-color: #333
$nav-active-color: #fff
$nav-inactive-color: #777

$foot-bg-color: $nav-bg-color
$foot-color: lighten($nav-bg-color, 50%)
$foot-size: 70%

$art-h1-color: #000
$art-h2-color: #000
$art-p-color: #444
$art-bq-color: #666
$art-small-color: #bbb
$art-code-bg-color: #eee
$art-code-border: 1px solid #ccc
$art-code-color: #000
$art-line: 1px dotted $art-small-color

$linkto-color: #222
$linkto-color-hover: $hl-color
$linkto-size: 130%
$tag-color: #444
$tag-color-hover: $hl-color

$art-h1-size: 240%
$art-h2-size: 180%
$art-small-size: 90%
$art-bq-size: 100%
$art-code-size: 100%

/*******************************************/

a
  text-decoration: none

body
  margin: 0
  background-color: $outer-bg-color
  font-family: sans

main
  width: 1050px
  background-color: $inner-bg-color
  margin: 20px auto 0 auto
  box-shadow: $outer-shadow

/*******************************************/

header
  .title
    padding: 1.2em
  h1
    display: inline-block
    margin: 0
    text-transform: uppercase
    color: $hdr-color
    font-size: $hdr-size
    border-bottom: $hdr-line

nav
  width: 100%
  background: $nav-bg-color
  border-bottom: 7px solid $hl-color

  ul
    margin: 0
    padding: 0
    display: flex

  li
    list-style: none
    display: inline-block

    a
      display: inline-block
      padding: 0.8em 0.9em 0.8em 0.9em
      font-size: 0.9em
      color: $nav-inactive-color
      text-decoration: none
      font-weight: bold
      text-transform: uppercase

    a:hover, &.active a
      background-color: $nav-active-bg-color
      color: $nav-active-color

/*******************************************/

article
  padding: 1.5em

  h2
    margin: 0 0 0.3em 0
    color: $art-h1-color
    font-size: $art-h1-size

  h3
    margin: 0
    color: $art-h2-color
    font-size: $art-h2-size

  small
    display: block
    border-bottom: $art-line
    padding-bottom: 0.7em
    margin-bottom: 1em
    color: $art-small-color
    font-size: $art-small-size

  hr
    border-top: $art-line
    border-bottom: none
    margin: 0.5em 0 1.3em 0

  p
    text-align: justify
    color: $art-p-color

  blockquote
    margin-left: 0

  blockquote p
    max-width: 70%
    border-left: 5px solid $hl-color
    padding-left: 2em
    color: $art-bq-color
    font-size: $art-bq-size

  pre
    background: $art-code-bg-color
    border: $art-code-border
    padding: 0.6em
    color: $art-code-color
    font-size: $art-code-size

/*******************************************/

div.link-to-post
  h4
    margin: 0
    padding-bottom: 0.5em
    color: $linkto-color
    font-size: $linkto-size

    &:hover
      color: $linkto-color-hover

.tag
  text-decoration: underline
  color: $tag-color

  &:hover
    color: $tag-color-hover

.tag-sep
  padding: 0 0.1em 0 0.1em

/*******************************************/

footer
  margin: 0
  background-color: $foot-bg-color
  padding: 0.9em
  color: $foot-color
  font-size: $foot-size
