body
  margin: 0
  background: #eee
  font-family: sans

main
  width: 1050px
  background: #fff
  margin: 20px auto 0 auto
  box-shadow: #bbb 0 0 10px

header
  .title
    padding: 1.2em
  h1
    display: inline-block
    margin: 0
    font-size: 150%
    text-transform: uppercase
    color: #111
    border-bottom: 1px solid #ccc

nav
  width: 100%
  background: #333
  border-bottom: 7px solid #37f

  ul
    margin: 0
    padding: 0
    display: flex

  li
    list-style: none
    display: inline-block

    a
      display: inline-block
      padding: 0.8em 0.9em 0.8em 0.9em
      font-size: 0.9em
      color: #777
      text-decoration: none
      font-weight: bold
      text-transform: uppercase

    a:hover, &.active a
      background-color: #37f
      color: #fff

article
  padding: 1.5em

  h2
    margin: 0 0 0.3em 0
    font-size: 240%

  h3
    margin: 0
    font-size: 200%

  time
    display: block
    color: #ccc
    border-bottom: 1px dotted #ccc
    padding-bottom: 0.7em
    margin-bottom: 1em

  p, blockquote
    color: #444

  p
    text-align: justify

  blockquote
    max-width: 70%
    border-left: 5px solid #37f
    margin-left: 0
    padding-left: 2em
    color: #666

  pre
    background: #eee
    border: 1px solid #ccc
    padding: 0.6em

footer
  margin: 0
  background-color: #333
  color: #ccc
  padding: 0.9em
  font-size: 0.7em
